.form {
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.from__title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding: 34px 0 0 36px;
}

.from__field {
    width: 358px;
    height: 14px;
    margin: 20px 36px;
}

.from__button {
    width: 358px;
    height: 50px;
    margin: 48px 36px 37px;
    background-color: black;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.from__button:hover {
    opacity: .8;
}