.photo__heart {
    background-image: url(../../../images/heart.png);
    width: 22px;
    height: 19px;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin: 5px 5px 0 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.photo__heart:hover {
    opacity: .5;
}