.profile__button_style {
    width: 16px;
    height: 16px;
    margin: auto;
}

@media (min-width:1024px) {
    .profile__button_style {
        width: 22px;
        height: 22px;
        margin: auto;
    }
}