.popup__buttom-close {
    background-image: url(../../../images/Close.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    top: -35px;
    right: 0;
    cursor: pointer;
    Background-color: rgba(0, 0, 0, 0);
    border: none;
}

.popup__buttom-close:hover {
    opacity: .6;
    cursor: pointer;
}

@media (min-width:1280px) {
    .popup__buttom-close {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -40px;
    }
}