.popup__window {
    max-width: 280px;
    height: 340px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (min-width: 1024px) {
    .popup__window {
        max-width: 430px;
        height: 250px;
        margin: auto;
    }

}