.popup__block {
    width: 238px;
    height: 350px;
    margin: 25px auto;
}

@media (min-width: 1024px) {
    .popup__block {
        width: 358px;
        height: 316px;
        margin: 25px auto;
    }
}